<div class="row home_banner_area">
    <div class="container container-tweets" style="margin-top: 50px">
        <div class="col">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4" *ngFor=" let tweet of tweets">
                    <div class="card h-100 card-background"
                         [ngStyle]="{ 'background-image': 'url( '+ tweet.profileBannerUrl +' )'  }">
                        <img [src]="tweet.profileImageUrl" class="img-circle" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@{{tweet.user}}</h5>
                            <p class="card-text">{{tweet.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
